<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#main_content}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >About Page</title>
</head>
<body>
    <div id="main_content">
        <h1 class="font-bold">Welcome to About Page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus a, libero, rem minus enim cum natus temporibus molestiae corporis asperiores suscipit reprehenderit illum magnam praesentium iusto culpa incidunt eius nobis ducimus saepe, accusamus quo iure? Blanditiis, neque, perspiciatis omnis distinctio eius mollitia totam odit voluptate deserunt inventore temporibus animi nobis.</p>
    </div>

    <script>
        alert("Welcome to About Page");
    </script>
    <script>
        console.log("Welcome to About Page");
    </script>
</body>
</html>