<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#main_content}, ~{::title}, ~{})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div id="main_content">
      <div class="p-4">
        <h1 class="text-3xl font-bold">Welcome to Login Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aut, animi
        suscipit sit earum voluptates officia sed aliquam, recusandae libero
        reprehenderit architecto, rerum laudantium autem assumenda
        exercitationem mollitia laboriosam repellat cupiditate illo iure!
        Exercitationem aut, porro cum perspiciatis accusamus possimus animi
        consequuntur, velit eligendi magni odio necessitatibus rem vitae ad.
      </p>
      </div>

    </div>

  </body>
</html>
