<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#mainContent}, ~{::title}, ~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
    <section id="mainContent">
        <h1 class="font-bold text-5xl bg-red-500">Welcome to Services Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum tenetur error nam. Est obcaecati repellendus, provident quis doloremque et. At officiis fuga expedita impedit consequuntur dolorum vero suscipit, minima vel voluptates pariatur, reiciendis dolores tempora, ea explicabo commodi quas!</p>
    </section>
</body>
</html>